/* Style the Cart component */
.cart {
  display: flex;
    margin: 20px;
  }
  
  /* Style the table in the Cart component */
  table {
    margin-bottom: 20px;
  }
  
  /* Style the buttons in the Cart component */
  button {
    margin-right: 10px;
  }
  .chead{
    color: #000;
  }
.checkout{
    padding-bottom: 10px;
  }
  